@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

li {
  display: inline-block;
}

body {
  margin: 10;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.one-second-fadeIn {
  opacity: 0;
  animation: fadeIn 1s;
  animation-fill-mode: forwards; 
}

.sidenav {
  height: 100%; 
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fff2c1, white);
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #28a1a2;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  margin: 0px;
}

.subheading {
  text-align: center;
  margin: 1em 3em 3em 3em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 70%;
  font-weight: 400;
  color: #447677;
  text-transform: uppercase;
  text-decoration: none;
}

.navlink {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  display: block;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 2em 0.5em 2em;
  text-decoration: none;
}

.navlink:hover {
   color: #28a1a2;
}

.navlink:active {
  color: #28a1a2;
}

.social-media-icons {
  margin: 25%;
}

.fab {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin-in:hover {
  background: #0077B5;
  color: #fff;
}

.fa-linkedin-in {
  color: #000;
}

.fa-github-alt:hover {
  background: #000000;
  color: #fff;
}

.fa-github-alt {
  color: #000;
}

.main {
  margin: 0% 10% 0% 30%;
  padding-top: 10%;
  text-align: center;
}

.main-title {
  text-decoration: underline;
}
